# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/src/ClassesRep/bin
/src/ClassesRep/obj
/ProvaConceito/bin
/ProvaConceito/obj

# dependencies

/.vs
/Backup
